@{
    ViewBag.Title = "Home Page";
}
<div style="height:50px;"></div>
<div class="jumbotron">
    <h2>Projects makes by Bozhidar Rusev - BooksLibrary</h2>
    <p class="lead">In this project you can:<br/>- Create new books<br/>- Create new authors<br/>- Create new genres<br/>
       <p style="color:red;">Rules:</p>
        - you must make registration to do this staff.
    
    </p>
    
</div>

